body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.player-assignment {
    margin-top: 20px;
    position: absolute;
    background-color: dodgerblue;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: center;
}

.player {
    margin-bottom: 10px;
}

.container-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.win-popup {
    display: none;
    position: absolute;
    background-color: rgb(218, 165, 32);
    color: white;
    padding: 10px;
    min-width: 400px;
    font-size: 2em;
    text-align: center;
}

.win-popup.on {
    display: block;
    animation: zoom 1s linear;
}

@keyframes zoom {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

#reset-btn  {
    margin: 10px 20px;
    padding: 10px 15px;
    width: 100px;
    border: none;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s linear;
}

#reset-btn:active {
    transform: scale(0.3, 0.3);
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    height: 260px;
    background-color: white;
    padding: 10px;
}

#container div {
    width: 98px;
    height: 85px;
    text-align: center;
    line-height: 85px;
    font-size: 2.5em;
    font-weight: bold;
}


#display2,
#display5,
#display8 {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#display1,
#display2,
#display3,
#display4,
#display5,
#display6 {
    border-bottom: 1px solid black;
}
